cognitive-services-inventory/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "Initialize_deployment_count": {
                "type": "InitializeVariable",
                "runAfter": {},
                "inputs": {
                    "variables": [
                        {
                            "name": "totalDeployments",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                }
            },
            "Initialize_accounts_with_deployments": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_deployment_count": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "accountsWithDeployments",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                }
            },
            "Query_Cognitive_Services_Accounts": {
                "type": "Http",
                "runAfter": {
                    "Initialize_accounts_with_deployments": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2022-10-01",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "query": "Resources | where type =~ 'microsoft.cognitiveservices/accounts' | join kind=leftouter (ResourceContainers | where type =~ 'microsoft.resources/subscriptions' | project subscriptionId, SubscriptionName = name) on subscriptionId | project AccountId = id, AccountName = name, AccountKind = kind, AccountEndpoint = properties.endpoint, SubscriptionId = subscriptionId, SubscriptionName, ResourceGroup = resourceGroup, Location = location",
                        "options": {
                            "$top": 1000
                        }
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.azure.com/"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Check_if_accounts_exist": {
                "type": "If",
                "runAfter": {
                    "Query_Cognitive_Services_Accounts": [
                        "Succeeded"
                    ]
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(body('Query_Cognitive_Services_Accounts')?['data'])",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "For_each_account": {
                        "type": "Foreach",
                        "runAfter": {},
                        "foreach": "@body('Query_Cognitive_Services_Accounts')?['data']",
                        "actions": {
                            "Get_deployments_for_account": {
                                "type": "Http",
                                "runAfter": {},
                                "inputs": {
                                    "uri": "https://management.azure.com@{items('For_each_account')?['AccountId']}/deployments?api-version=2024-10-01",
                                    "method": "GET",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://management.azure.com/"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "retryPolicy": {
                                    "type": "exponential",
                                    "count": 4,
                                    "interval": "PT10S",
                                    "minimumInterval": "PT5S",
                                    "maximumInterval": "PT1M"
                                }
                            },
                            "Check_if_deployments_exist": {
                                "type": "If",
                                "runAfter": {
                                    "Get_deployments_for_account": [
                                        "Succeeded"
                                    ]
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@length(body('Get_deployments_for_account')?['value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Transform_deployments": {
                                        "type": "Select",
                                        "runAfter": {},
                                        "inputs": {
                                            "from": "@body('Get_deployments_for_account')?['value']",
                                            "select": {
                                                "TimeGenerated": "@utcNow()",
                                                "DeploymentId": "@item()?['id']",
                                                "DeploymentName": "@item()?['name']",
                                                "ModelName": "@if(equals(item()?['properties']?['model']?['name'], null), '', item()['properties']['model']['name'])",
                                                "ModelVersion": "@if(equals(item()?['properties']?['model']?['version'], null), '', item()['properties']['model']['version'])",
                                                "ModelFormat": "@if(equals(item()?['properties']?['model']?['format'], null), '', item()['properties']['model']['format'])",
                                                "SkuName": "@if(equals(item()?['sku']?['name'], null), '', item()['sku']['name'])",
                                                "SkuCapacity": "@if(equals(item()?['sku']?['capacity'], null), 0, item()['sku']['capacity'])",
                                                "AccountName": "@items('For_each_account')?['AccountName']",
                                                "AccountId": "@items('For_each_account')?['AccountId']",
                                                "AccountKind": "@items('For_each_account')?['AccountKind']",
                                                "AccountEndpoint": "@if(equals(items('For_each_account')?['AccountEndpoint'], null), '', items('For_each_account')['AccountEndpoint'])",
                                                "SubscriptionId": "@items('For_each_account')?['SubscriptionId']",
                                                "SubscriptionName": "@if(equals(items('For_each_account')?['SubscriptionName'], null), 'Unknown', items('For_each_account')['SubscriptionName'])",
                                                "ResourceGroup": "@items('For_each_account')?['ResourceGroup']",
                                                "Location": "@items('For_each_account')?['Location']"
                                            }
                                        }
                                    },
                                    "Send_deployments_to_DCR": {
                                        "type": "Http",
                                        "runAfter": {
                                            "Transform_deployments": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "uri": "@{appsetting('DCE_LOGS_INGESTION_ENDPOINT')}/dataCollectionRules/@{appsetting('DCR_IMMUTABLE_ID')}/streams/@{appsetting('DCR_STREAM_NAME')}?api-version=2023-01-01",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": "@body('Transform_deployments')",
                                            "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://monitor.azure.com/"
                                            }
                                        },
                                        "retryPolicy": {
                                            "type": "exponential",
                                            "count": 4,
                                            "interval": "PT10S",
                                            "minimumInterval": "PT5S",
                                            "maximumInterval": "PT1M"
                                        }
                                    },
                                    "Increment_deployment_count": {
                                        "type": "IncrementVariable",
                                        "runAfter": {
                                            "Send_deployments_to_DCR": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "name": "totalDeployments",
                                            "value": "@length(body('Transform_deployments'))"
                                        }
                                    },
                                    "Increment_accounts_with_deployments": {
                                        "type": "IncrementVariable",
                                        "runAfter": {
                                            "Increment_deployment_count": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "name": "accountsWithDeployments",
                                            "value": 1
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                }
                            }
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 20
                            }
                        }
                    },
                    "Success_Response": {
                        "type": "Response",
                        "runAfter": {
                            "For_each_account": [
                                "Succeeded"
                            ]
                        },
                        "inputs": {
                            "statusCode": 200,
                            "body": {
                                "status": "Success",
                                "message": "Successfully sent @{variables('totalDeployments')} deployments from @{variables('accountsWithDeployments')} accounts to Log Analytics",
                                "deploymentCount": "@variables('totalDeployments')",
                                "accountsWithDeployments": "@variables('accountsWithDeployments')",
                                "accountsProcessed": "@length(body('Query_Cognitive_Services_Accounts')?['data'])"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "No_Accounts_Response": {
                            "type": "Response",
                            "runAfter": {},
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "status": "Success",
                                    "message": "No Cognitive Services accounts found in the specified scope",
                                    "deploymentCount": 0,
                                    "accountsWithDeployments": 0,
                                    "accountsProcessed": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "outputs": {}
    },
    "kind": "Stateful"
}
