cognitive-services-inventory/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "Initialize_deployment_count": {
                "type": "InitializeVariable",
                "runAfter": {},
                "inputs": {
                    "variables": [
                        {
                            "name": "totalDeployments",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                }
            },
            "Initialize_accounts_with_deployments": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_deployment_count": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "accountsWithDeployments",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                }
            },
            "Initialize_all_accounts": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_accounts_with_deployments": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "allAccounts",
                            "type": "array",
                            "value": []
                        }
                    ]
                }
            },
            "Initialize_skip_token": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_all_accounts": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "skipToken",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Initialize_has_more_pages": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_skip_token": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "hasMorePages",
                            "type": "boolean",
                            "value": true
                        }
                    ]
                }
            },
            "Initialize_failed_accounts": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_has_more_pages": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "failedAccounts",
                            "type": "array",
                            "value": []
                        }
                    ]
                }
            },
            "Initialize_account_index": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_failed_accounts": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "accountIndex",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                }
            },
            "Initialize_deployment_next_link": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_account_index": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "deploymentNextLink",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Initialize_all_deployments_for_account": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_deployment_next_link": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "allDeploymentsForAccount",
                            "type": "array",
                            "value": []
                        }
                    ]
                }
            },
            "Initialize_current_account": {
                "type": "InitializeVariable",
                "runAfter": {
                    "Initialize_all_deployments_for_account": [
                        "Succeeded"
                    ]
                },
                "inputs": {
                    "variables": [
                        {
                            "name": "currentAccount",
                            "type": "object",
                            "value": {}
                        }
                    ]
                }
            },
            "Paginate_Cognitive_Services_Accounts": {
                "type": "Until",
                "runAfter": {
                    "Initialize_current_account": [
                        "Succeeded"
                    ]
                },
                "expression": "@equals(variables('hasMorePages'), false)",
                "limit": {
                    "count": 100,
                    "timeout": "PT1H"
                },
                "actions": {
                    "Query_Cognitive_Services_Accounts_Page": {
                        "type": "Http",
                        "runAfter": {},
                        "inputs": {
                            "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2022-10-01",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": "@if(equals(variables('skipToken'), ''), json(concat('{\"query\": \"Resources | where type =~ \\u0027microsoft.cognitiveservices/accounts\\u0027 | where kind in~ (\\u0027OpenAI\\u0027, \\u0027AIServices\\u0027, \\u0027CognitiveServices\\u0027) | join kind=leftouter (ResourceContainers | where type =~ \\u0027microsoft.resources/subscriptions\\u0027 | project subscriptionId, SubscriptionName = name) on subscriptionId | project AccountId = id, AccountName = name, AccountKind = kind, AccountEndpoint = properties.endpoint, SubscriptionId = subscriptionId, SubscriptionName, ResourceGroup = resourceGroup, Location = location\", \"managementGroups\": [\"', appsetting('MANAGEMENT_GROUP_ID'), '\"], \"options\": {\"$top\": 1000}}')), json(concat('{\"query\": \"Resources | where type =~ \\u0027microsoft.cognitiveservices/accounts\\u0027 | where kind in~ (\\u0027OpenAI\\u0027, \\u0027AIServices\\u0027, \\u0027CognitiveServices\\u0027) | join kind=leftouter (ResourceContainers | where type =~ \\u0027microsoft.resources/subscriptions\\u0027 | project subscriptionId, SubscriptionName = name) on subscriptionId | project AccountId = id, AccountName = name, AccountKind = kind, AccountEndpoint = properties.endpoint, SubscriptionId = subscriptionId, SubscriptionName, ResourceGroup = resourceGroup, Location = location\", \"managementGroups\": [\"', appsetting('MANAGEMENT_GROUP_ID'), '\"], \"options\": {\"$top\": 1000, \"$skipToken\": \"', variables('skipToken'), '\"}}')))",
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://management.azure.com/",
                                "identity": "@appsetting('USER_ASSIGNED_IDENTITY_RESOURCE_ID')"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Merge_accounts_into_array": {
                        "type": "Foreach",
                        "runAfter": {
                            "Query_Cognitive_Services_Accounts_Page": [
                                "Succeeded"
                            ]
                        },
                        "foreach": "@if(equals(body('Query_Cognitive_Services_Accounts_Page')?['data'], null), json('[]'), body('Query_Cognitive_Services_Accounts_Page')?['data'])",
                        "actions": {
                            "Append_account": {
                                "type": "AppendToArrayVariable",
                                "runAfter": {},
                                "inputs": {
                                    "name": "allAccounts",
                                    "value": "@items('Merge_accounts_into_array')"
                                }
                            }
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    },
                    "Check_for_more_pages": {
                        "type": "If",
                        "runAfter": {
                            "Merge_accounts_into_array": [
                                "Succeeded"
                            ]
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@coalesce(body('Query_Cognitive_Services_Accounts_Page')?['$skipToken'], '')",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_skip_token": {
                                "type": "SetVariable",
                                "runAfter": {},
                                "inputs": {
                                    "name": "skipToken",
                                    "value": "@body('Query_Cognitive_Services_Accounts_Page')?['$skipToken']"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_has_more_pages_false": {
                                    "type": "SetVariable",
                                    "runAfter": {},
                                    "inputs": {
                                        "name": "hasMorePages",
                                        "value": false
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Check_if_accounts_exist": {
                "type": "If",
                "runAfter": {
                    "Paginate_Cognitive_Services_Accounts": [
                        "Succeeded"
                    ]
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(variables('allAccounts'))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Process_each_account": {
                        "type": "Until",
                        "runAfter": {},
                        "expression": "@greaterOrEquals(variables('accountIndex'), length(variables('allAccounts')))",
                        "limit": {
                            "count": 5000,
                            "timeout": "PT2H"
                        },
                        "actions": {
                            "Set_current_account": {
                                "type": "SetVariable",
                                "runAfter": {},
                                "inputs": {
                                    "name": "currentAccount",
                                    "value": "@variables('allAccounts')[variables('accountIndex')]"
                                }
                            },
                            "Reset_account_deployments": {
                                "type": "SetVariable",
                                "runAfter": {
                                    "Set_current_account": [
                                        "Succeeded"
                                    ]
                                },
                                "inputs": {
                                    "name": "allDeploymentsForAccount",
                                    "value": []
                                }
                            },
                            "Set_initial_deployment_url": {
                                "type": "SetVariable",
                                "runAfter": {
                                    "Reset_account_deployments": [
                                        "Succeeded"
                                    ]
                                },
                                "inputs": {
                                    "name": "deploymentNextLink",
                                    "value": "https://management.azure.com@{variables('currentAccount')?['AccountId']}/deployments?api-version=2024-10-01"
                                }
                            },
                            "Paginate_deployments": {
                                "type": "Until",
                                "runAfter": {
                                    "Set_initial_deployment_url": [
                                        "Succeeded"
                                    ]
                                },
                                "expression": "@equals(variables('deploymentNextLink'), '')",
                                "limit": {
                                    "count": 50,
                                    "timeout": "PT10M"
                                },
                                "actions": {
                                    "Get_deployment_page": {
                                        "type": "Http",
                                        "runAfter": {},
                                        "inputs": {
                                            "uri": "@variables('deploymentNextLink')",
                                            "method": "GET",
                                            "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://management.azure.com/",
                                                "identity": "@appsetting('USER_ASSIGNED_IDENTITY_RESOURCE_ID')"
                                            }
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "retryPolicy": {
                                            "type": "exponential",
                                            "count": 4,
                                            "interval": "PT10S",
                                            "minimumInterval": "PT5S",
                                            "maximumInterval": "PT1M"
                                        }
                                    },
                                    "Merge_deployment_page": {
                                        "type": "SetVariable",
                                        "runAfter": {
                                            "Compose_merged_deployments": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "name": "allDeploymentsForAccount",
                                            "value": "@outputs('Compose_merged_deployments')"
                                        }
                                    },
                                    "Compose_merged_deployments": {
                                        "type": "Compose",
                                        "runAfter": {
                                            "Get_deployment_page": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": "@union(variables('allDeploymentsForAccount'), if(equals(body('Get_deployment_page')?['value'], null), json('[]'), body('Get_deployment_page')?['value']))"
                                    },
                                    "Check_deployment_next_link": {
                                        "type": "If",
                                        "runAfter": {
                                            "Merge_deployment_page": [
                                                "Succeeded"
                                            ]
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@coalesce(body('Get_deployment_page')?['nextLink'], '')",
                                                            ""
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Set_deployment_next_link": {
                                                "type": "SetVariable",
                                                "runAfter": {},
                                                "inputs": {
                                                    "name": "deploymentNextLink",
                                                    "value": "@body('Get_deployment_page')?['nextLink']"
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Clear_deployment_next_link": {
                                                    "type": "SetVariable",
                                                    "runAfter": {},
                                                    "inputs": {
                                                        "name": "deploymentNextLink",
                                                        "value": ""
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Log_failed_account": {
                                "type": "AppendToArrayVariable",
                                "runAfter": {
                                    "Paginate_deployments": [
                                        "Failed",
                                        "TimedOut"
                                    ]
                                },
                                "inputs": {
                                    "name": "failedAccounts",
                                    "value": {
                                        "AccountName": "@{variables('currentAccount')?['AccountName']}",
                                        "AccountId": "@{variables('currentAccount')?['AccountId']}",
                                        "AccountKind": "@{variables('currentAccount')?['AccountKind']}",
                                        "SubscriptionId": "@{variables('currentAccount')?['SubscriptionId']}",
                                        "Error": "@{coalesce(body('Get_deployment_page')?['error']?['message'], actions('Get_deployment_page')?['error']?['message'], 'Unknown error')}",
                                        "StatusCode": "@{outputs('Get_deployment_page')?['statusCode']}"
                                    }
                                }
                            },
                            "Check_if_deployments_exist": {
                                "type": "If",
                                "runAfter": {
                                    "Paginate_deployments": [
                                        "Succeeded"
                                    ]
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "@length(variables('allDeploymentsForAccount'))",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Transform_deployments": {
                                        "type": "Select",
                                        "runAfter": {},
                                        "inputs": {
                                            "from": "@variables('allDeploymentsForAccount')",
                                            "select": {
                                                "TimeGenerated": "@utcNow()",
                                                "DeploymentId": "@item()?['id']",
                                                "DeploymentName": "@item()?['name']",
                                                "ModelName": "@if(equals(item()?['properties']?['model']?['name'], null), '', item()['properties']['model']['name'])",
                                                "ModelVersion": "@if(equals(item()?['properties']?['model']?['version'], null), '', item()['properties']['model']['version'])",
                                                "ModelFormat": "@if(equals(item()?['properties']?['model']?['format'], null), '', item()['properties']['model']['format'])",
                                                "SkuName": "@if(equals(item()?['sku']?['name'], null), '', item()['sku']['name'])",
                                                "SkuCapacity": "@if(equals(item()?['sku']?['capacity'], null), 0, item()['sku']['capacity'])",
                                                "AccountName": "@variables('currentAccount')?['AccountName']",
                                                "AccountId": "@variables('currentAccount')?['AccountId']",
                                                "AccountKind": "@variables('currentAccount')?['AccountKind']",
                                                "AccountEndpoint": "@if(equals(variables('currentAccount')?['AccountEndpoint'], null), '', variables('currentAccount')['AccountEndpoint'])",
                                                "SubscriptionId": "@variables('currentAccount')?['SubscriptionId']",
                                                "SubscriptionName": "@if(equals(variables('currentAccount')?['SubscriptionName'], null), 'Unknown', variables('currentAccount')['SubscriptionName'])",
                                                "ResourceGroup": "@variables('currentAccount')?['ResourceGroup']",
                                                "Location": "@variables('currentAccount')?['Location']"
                                            }
                                        }
                                    },
                                    "Send_deployments_to_DCR": {
                                        "type": "Http",
                                        "runAfter": {
                                            "Transform_deployments": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "uri": "@{appsetting('DCE_LOGS_INGESTION_ENDPOINT')}/dataCollectionRules/@{appsetting('DCR_IMMUTABLE_ID')}/streams/@{appsetting('DCR_STREAM_NAME')}?api-version=2023-01-01",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": "@body('Transform_deployments')",
                                            "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://monitor.azure.com/"
                                            }
                                        },
                                        "retryPolicy": {
                                            "type": "exponential",
                                            "count": 4,
                                            "interval": "PT10S",
                                            "minimumInterval": "PT5S",
                                            "maximumInterval": "PT1M"
                                        }
                                    },
                                    "Increment_deployment_count": {
                                        "type": "IncrementVariable",
                                        "runAfter": {
                                            "Send_deployments_to_DCR": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "name": "totalDeployments",
                                            "value": "@length(body('Transform_deployments'))"
                                        }
                                    },
                                    "Increment_accounts_with_deployments": {
                                        "type": "IncrementVariable",
                                        "runAfter": {
                                            "Increment_deployment_count": [
                                                "Succeeded"
                                            ]
                                        },
                                        "inputs": {
                                            "name": "accountsWithDeployments",
                                            "value": 1
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                }
                            },
                            "Increment_account_index": {
                                "type": "IncrementVariable",
                                "runAfter": {
                                    "Check_if_deployments_exist": [
                                        "Succeeded",
                                        "Skipped"
                                    ],
                                    "Log_failed_account": [
                                        "Succeeded",
                                        "Skipped"
                                    ]
                                },
                                "inputs": {
                                    "name": "accountIndex",
                                    "value": 1
                                }
                            }
                        }
                    },
                    "Success_Response": {
                        "type": "Response",
                        "runAfter": {
                            "Process_each_account": [
                                "Succeeded",
                                "Failed"
                            ]
                        },
                        "inputs": {
                            "statusCode": "@if(greater(length(variables('failedAccounts')), 0), 207, 200)",
                            "body": {
                                "status": "@if(greater(length(variables('failedAccounts')), 0), 'PartialSuccess', 'Success')",
                                "message": "@if(greater(length(variables('failedAccounts')), 0), concat('Sent ', string(variables('totalDeployments')), ' deployments from ', string(variables('accountsWithDeployments')), ' accounts to Log Analytics. Failed to query ', string(length(variables('failedAccounts'))), ' account(s).'), concat('Successfully sent ', string(variables('totalDeployments')), ' deployments from ', string(variables('accountsWithDeployments')), ' accounts to Log Analytics'))",
                                "deploymentCount": "@variables('totalDeployments')",
                                "accountsWithDeployments": "@variables('accountsWithDeployments')",
                                "accountsProcessed": "@length(variables('allAccounts'))",
                                "failedAccountCount": "@length(variables('failedAccounts'))",
                                "failedAccounts": "@variables('failedAccounts')"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "No_Accounts_Response": {
                            "type": "Response",
                            "runAfter": {},
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "status": "Success",
                                    "message": "No Cognitive Services accounts found in the specified scope",
                                    "deploymentCount": 0,
                                    "accountsWithDeployments": 0,
                                    "accountsProcessed": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "outputs": {}
    },
    "kind": "Stateful"
}
